fastapi
uvicorn
pydantic
python-dotenv

sqlalchemy
alembic

requests
httpx
aiohttp

geopy
folium

redis

python-jose[cryptography]
passlib[bcrypt]
cryptography

python-json-logger
loguru

python-multipart
click
pyyaml

pytest
pytest-asyncio
pytest-cov
faker
